<div class="bgimg ; container">
    <br>
    <marquee><h1 style="color: white;font-style: oblique; text-shadow: beige;">Ankit Lashkari</h1>
        <br>
    </marquee>
</div>
<br>
<div class="container">
    <div class="row">
            <div class="col-md-7">
                <app-employeelist></app-employeelist>
            </div>
            <div class="rightcol">
                <br>
                <app-createemployee align="center"></app-createemployee>
            </div>
    </div>
    <div class="row">
        <div>
            <app-employee></app-employee>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
